

.home-section-container{
    height:100vh;
    width:100vw;
    background-image:url("https://static.vecteezy.com/system/resources/previews/022/712/737/non_2x/beach-cartoon-background-wallpaper-generat-ai-free-photo.jpg");
    background-size:cover;
}

.card-container{
    width:100vw;
    height:30vh;
    background-color:rgba(1, 13, 23, 0.406);
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    text-align:center;
    padding-top:30px;

}

.heading{
    font-family:"Roboto";
    font-weight:bold;
    letter-spacing:1px;
    color:#FFFFFF;
    font-size:48px;
}

.para{
    font-style:italic;
    color:#ffffff;
    font-weight:600;
    font-size:25px;
    word-spacing:2px;
}

.start-button{
    background-color:#F59E0B;
    height:38px;
    width:120px;
    border-radius:5px;
}



.places-section-container{
    height:100vh;
    width:100wh;
    background-color:rgb(74, 74, 113);
    padding-top:20px;
    padding-left:35px;
    
}

.bg-container{
    height:90%;
    width:98%;
    background-color:rgb(194, 7, 51);
    border-radius:12px;
    
}

.item-container{
    height:22%;
    width:80%;
    background-color:#ffffff;
    border:1.5px solid gold;
    border-radius:12px;
}

.tourism-img{
    height:125px;
    width:200px;
    object-fit:cover;
    border-radius:8px;
    margin-top:7px;
    margin-left:30px;

}

.description-container{
    margin-left:15px;
    width:90%;
    background-color:white;
    padding-left:25px;
}

.know-more-button {
    background-color: #f59e0b;
    color: #ffffff;
    font-size: 14px;
    border-radius: 6px;
    
    
}


.place-heading{
    color:black;
    font-size:27px;
    font-family:"arial";
    font-weight:bold;
}

.back-button{
    text-align:end;
    margin-top:12px;
    margin-right:50px;
    
   
}


