

.bg-container{
    background-color:#1C4D99;
    height:50vh;
    width:100vh;
    border-color:#802A58;
    border-width:25px;
    border-style:solid;
    border-color:#cd380b;
    border-radius:25px;
    margin-top:100px;
    margin-left:150px;
    margin-right:50px;
    margin-bottom:75px;
    padding-left:450px;
    padding-top:150px;
    
}



.heading{
    color:white;
    font-family:"Roboto";
    font-weight:bold;
    font-size:75px;
}