
.heading{
    color: #0F0F0F;
    text-transform: capitalize;
    font-family: "Monospace";
    font-style:oblique;
    font-weight: 700;
    text-shadow: 2px 6px 3px gray;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color:red;
}

.para{
    text-indent:50px;
    line-height: 22px;
    font-family: "Roboto";
    font-style:italic;
    font-weight: 500;
    

    color:#2D2D2D;
}