@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.bottom-container {
    background-color: #f6c56e;
    height: 33vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.head {
    margin-left: 15px;
    font-family: "bree serif";
    color: #323f4b;
    margin-left: 50px;
    margin-top: 25px;

}

.para {
    margin-left: 25px;
    font-family: "Roboto";
    color: #323f4b;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 15px;

}

.button {
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 15px;
    font-family: "bree serif";
    color: #323f4b;
    margin-left: 50px;
    margin-top: 10px;
}
